.quantity-input {
  --control-height: #{$space*3};
  --border: 2px solid #{$color__additional-2};

  display: flex;
  align-items: center;
}

.quantity-input__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $space * 3;
  height: var(--control-height);
  margin: 0;
  padding: 0;
  appearance: button;
  background: 0;
  border: var(--border);
  cursor: pointer;
  outline: 0;
  transition: all 0.1s;
  overflow: visible;
  word-break: break-word;
}

.quantity-input__button--less {
  border-right: 0;
  border-radius: calc(var(--control-height) / 2) 0 0 calc(var(--control-height) / 2);
}

.quantity-input__button--more {
  border-left: 0;
  border-radius: 0 calc(var(--control-height) / 2) calc(var(--control-height) / 2) 0;
}

.quantity-input__icon {
  width: $space * 1.5;
  height: $space * 1.5;
  vertical-align: middle;
  stroke: $color__additional-4;
  stroke-width: 2;
}

.quantity-input__button:hover .quantity-input__icon,
.quantity-input__button:focus .quantity-input__icon {
  stroke: $color__primary;
}

.quantity-input__input-field {
  width: $space*3;
  height: var(--control-height);
  padding: $space*0.25;
  font: inherit;
  font-size: 115%;
  text-align: center;
  color: $color-font__input;
  border: var(--border);
  background-color: #ffffff;
  outline: none;

  &:focus {
    border: 2px solid $color__primary;
  }
}
