[data-showmore] {
  overflow: hidden;
  transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: height;
}

.showmore__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.showmore__button-icon {
  display: block;
  margin-left: $space*0.5;
  fill: none;
  stroke: $color__primary;
  stroke-width: 2px;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;

  @include media-tablet-landscape-down {
    width: $space*2;
    height: $space*2;
  }

  @include media-desktop-up {
    width: $space*1.5;
    height: $space*1.5;
  }
}

.showmore__button[aria-expanded="true"] .showmore__button-icon {
  transform: rotate(180deg);
}
