@@if (position === "top") {

<strong class="often-looking__label">Часто ищут:</strong>
<ul class="often-looking__list">
  <li class="often-looking__item">
    <a class="link" href="#">
      для индукционной плиты
    </a>
  </li>
  <li class="often-looking__item">
    <a class="link" href="#">
      качественная
    </a>
  </li>
  <li class="often-looking__item">
    <a class="link" href="#">
      цена / качество
    </a>
  </li>
  <li class="often-looking__item">
    <a class="link" href="#">
      из нержавеющей стали
    </a>
  </li>
  <li class="often-looking__item">
    <a class="link" href="#">
      толстые стенки
    </a>
  </li>
  <li class="often-looking__item">
    <a class="link" href="#">
      лидеры продаж
    </a>
  </li>
  <li class="often-looking__item">
    <a class="link" href="#">
      металлические ручки
    </a>
  </li>
</ul>

}


@@if (position === "bottom") {

<strong class="often-looking__label">Подборки товаров:</strong>
<ul class="often-looking__list">
  <li class="often-looking__item">
    <a class="link" href="#">
      посуда Peterhof
    </a>
  </li>
  <li class="often-looking__item">
    <a class="link" href="#">
      стеклянная посуда
    </a>
  </li>
  <li class="often-looking__item">
    <a class="link" href="#">
      лучшие металлические кастрюли
    </a>
  </li>
</ul>

}
