.customer-info {
  display: grid;
  gap: $space;

  @include media-tablet-portrait-up {
    grid-template-columns: 1fr 1fr;
  }
}

.customer-info__header {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: minmax(0%, max-content) min-content;
  column-gap: $space;
  align-items: baseline;
}

.customer-info__title {
  margin: 0;
}
