.DS_Store
Thumbs.db
.idea
.vscode
*.sublime*
.jsbeautifyrc
*.ai
*.log
node_modules/
npm-debug.*

/public_html/.htaccess
/public_html/config.php
/public_html/admin/config.php
!/public_html/image/no_image.jpg
/public_html/image/
/storage/**/*.*
!/storage/**/index.html
public_html/catalog/view/theme/pm/
!public_html/catalog/view/theme/pm/template

/public_html/admin/uploads/
