@@if (page === "homepage") {

<h2>Наш интернет-магазин</h2>
<p>Для Вашего удобства наш интернет магазин предлагает широкие возможности для того, что бы быстро и недорого купить посуду для кухни онлайн. Цены и ассортимент нашего магазина Вас приятно удивят. Мы предлагаем нашим покупателям быструю доставку посуды по Минску и всей территории Беларуси, а 31 пункт самовывоза по всей стране позволит сэкономить на доставке.</p>
<p>На купленную в нашем магазине посуду предоставляется официальная гарантия. Мы в кратчайшие сроки разрешаем возникшие непредвиденные проблемы с товаром. В своей работе мы придерживаемся принципа – покупатель должен быть удовлетворен купленной посудой и работой магазина во что бы то ни стало.</p>

<h3>Доставка по Минску</h3>
<img data-src="img/raster/article-delivery.jpg" loading="lazy" alt="наш магазин">
<p>Доставка по Минску осуществляется в рабочие дни с 9-00 до 22-00. Посуда, заказанная до 15-00 доставляется в этот же день. Заказы, принятые после 15-00 доставляются на следующий рабочий день. Для этого способа доставки доступны следующие способы оплаты: наличный расчет, банковская карта, ЕРИП, безналичный расчет</p>

<h3>Доставка по Беларуси</h3>
<img data-src="img/raster/article-map.jpg" loading="lazy" alt="наш магазин">
<p>Как правило доставка посуды «до двери» в крупные населенные пункты осуществляется в течении 2-3 рабочих дней момента поступления заказа. Доставка кухонной утвари в мелкие населенные пункты может занимать больше времени – до 7 дней. Оплата стоимости может производиться как предварительно: ЕРИП, безналичный расчет, так и в момент получения заказа: наличный расчет, банковская карта.</p>

<h3>Самовывоз</h3>
<img data-src="img/raster/article-samovyvoz.jpg" loading="lazy" alt="наш магазин">
<p>Самый недорогой способ доставки посуды. Организован 31 пункт самовывоза по всей территории Беларуси, посмотрите нашу страничку с информацией о самовывозе в Минске и Беларуси, очень вероятно, что он рядом с Вами. Оплата за посуду в случае выбора этого способа доставки производится непосредственно при получении товара – наличными деньгами или банковской картой. Это не исключает и другие способы оплаты – ЕРИП, безналичный расчет.</p>

<h3>Гарантия качества</h3>
<img data-src="img/raster/article-garant.jpg" loading="lazy" alt="наш магазин">
<p>На купленную в нашем магазине посуду предоставляется официальная гарантия. Мы в кратчайшие сроки разрешаем возникшие непредвиденные проблемы с товаром. В своей работе мы придерживаемся принципа – покупатель должен быть удовлетворен купленной посудой и работой магазина во что бы то ни стало.</p>

}



@@if (page === "other") {

<h2>Кухонная посуда нашего магазина</h2>
<p>Для Вашего удобства наш интернет магазин предлагает широкие возможности для того, что бы быстро и недорого купить посуду для кухни онлайн. Цены и ассортимент нашего магазина Вас приятно удивят. Мы предлагаем нашим покупателям быструю доставку посуды по Минску и всей территории Беларуси, а 31 пункт самовывоза по всей стране позволит сэкономить на доставке.</p>
<p>На купленную в нашем магазине посуду предоставляется официальная гарантия. Мы в кратчайшие сроки разрешаем возникшие непредвиденные проблемы с товаром. В своей работе мы придерживаемся принципа – покупатель должен быть удовлетворен купленной посудой и работой магазина во что бы то ни стало.</p>
}
