.cart-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart-list__item {
  display: grid;
  column-gap: $space;
  padding-top: $space;
  padding-bottom: $space;
  line-height: 1.5rem;

  &:not(:last-child) {
    border-bottom: 1px dashed $color__additional-2;
  }

  @include media-mobile-only {
    grid-template:
      "img name"
      "img options"
      "img price"
      "img quantity"
      "img buttons"
      / minmax(0%, $space*8) minmax(63%, 1fr);
  }

  @include media-tablet-portrait-up {
    grid-template:
      "img name     price"
      "img options  price"
      "img reward   price"
      "img quantity price"
      "img alert    alert"
      "img buttons  buttons" 1fr
      / 128px 1fr $space*8;
  }
}

.cart-list__image-container {
  grid-area: img;
}

.cart-list__title {
  grid-area: name;
  margin: 0;
  font-size: 1rem;
  color: $color-font__subtitle2;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color__primary;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-skip-ink: none;
  }
}

.cart-list__options-list {
  grid-area: options;
  color: $color-font__secondary;
}

.cart-list__reward {
  grid-area: reward;
  color: $color-font__secondary;
}

.cart-list__alerts {
  grid-area: alert;
  margin-top: $space;
}

.cart-list__quantity-input {
  grid-area: quantity;
  margin-top: $space;
}

.cart-list__price {
  grid-area: price;
  white-space: nowrap;

  @include media-mobile-only {
    margin-top: $space*0.5;
  }

  @include media-tablet-portrait-up {
    text-align: right;
  }
}

.cart-list__price-current {
  font-size: 1.2rem;
  font-weight: 600;
  color: $color-font__title;
  white-space: nowrap;

  &--discount {
    color: $color-font__sale;
  }
}

.cart-list__price-each {
  color: $color-font__secondary;
}

.cart-list__price-old {
  color: $color-font__secondary;
}

.cart-list__love-button {
  grid-area: buttons;
  justify-self: start;
  align-self: start;
  margin-top: $space;
  display: flex;
  align-items: center;
  padding: 0;
  color: inherit;

  &:hover,
  &:focus {
    color: $color__primary;
  }
}

.cart-list__love-button-icon {
  margin-right: $space*0.25;
}
