.cart-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart-list__item {
  display: grid;
  grid-template-columns: minmax(0%, 8rem) auto;
  grid-template-areas:
    "img name"
    "img options"
    "img quantity"
    "img price"
    "img buttons";
  column-gap: $space;
  row-gap: $space * 0.5;
  padding-top: $space;
  padding-bottom: $space;
  line-height: 1.5rem;


  &:not(:last-child) {
    border-bottom: 1px dashed $color__additional-2;
  }
}

.cart-list--page .cart-list__item {
  @include media-tablet-portrait-up {
    grid-template:
      "img name quantity"
      "img options quantity"
      "img buttons price" 1fr
      / minmax(0%, $space*8) auto $space*8;
    row-gap: 0;
  }
}

.cart-list__image-container {
  grid-area: img;
}

.cart-list__title {
  margin: 0;
  color: $color-font__subtitle2;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color__primary;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-skip-ink: none;
  }
}

.cart-list__options-list {
  grid-area: options;
  color: $color-font__secondary;
}


.cart-list__quantity-input {
  grid-area: quantity;
}

.cart-list--page .cart-list__quantity-input {
  @include media-tablet-portrait-up {
    justify-self: end;
  }
}

.cart-list__price {
  grid-area: price;
}

.cart-list--page .cart-list__price {
  @include media-tablet-portrait-up {
    align-self: end;
    justify-self: end;
    text-align: right;
  }
}


.cart-list__item-manage {
  grid-area: buttons;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px;
}

.cart-list--page .cart-list__item-manage {
  @include media-tablet-portrait-up {
    align-self: end;
  }
}

.cart-list__manage-item-button {
  padding: 0;
  color: inherit;
  text-decoration: underline;
  text-underline-position: under;

  &:not(:last-child) {
    margin-right: $space;
  }

  &:hover,
  &:focus {
    color: $color__primary;
  }
}
