<?php if ($type == 'checkbox' || $type == 'radio' || $type == 'select') { ?>
<div style="height:100px; overflow-y:scroll; border:1px solid #DDDDDD;">
<table>
 <?php foreach ($data as $value) { ?>
 <tr>
  <td width="40%">
   <div class="ocfilter-div">
    <label>
     <input name="ocfilter[<?php echo $option_id; ?>][values][<?php echo $value['value_id']; ?>][selected]" value="<?php echo $value['value_id']; ?>" type="checkbox" onchange="ocFilterCheck(this);"> <?php echo $value['name']; ?>
    </label>
   </div>
  </td>
  <td>
   <?php foreach ($languages as $language) { ?>
   <input name="ocfilter[<?php echo $option_id; ?>][values][<?php echo $value['value_id']; ?>][description][<?php echo $language['language_id']; ?>][description]" value="" size="30" type="text">
   <img src="language/<?php echo $language['code']; ?>/<?php echo $language['code']; ?>.png" alt="<?php echo $language['name']; ?>" title="<?php echo $language['name']; ?>">
   <?php } ?>
  </td>
 </tr>
 <?php } ?>
</table>
</div>
<?php } ?>
<?php if ($type == 'text') { ?>
<input name="ocfilter[<?php echo $option_id; ?>][values][0][selected]" value="1" type="hidden">
<?php foreach ($languages as $language) { ?>
<textarea name="ocfilter[<?php echo $option_id; ?>][values][0][description][<?php echo $language['language_id']; ?>][description]" rows="2" cols="40"></textarea>
<img src="language/<?php echo $language['code']; ?>/<?php echo $language['code']; ?>.png" alt="<?php echo $language['name']; ?>" title="<?php echo $language['name']; ?>">
<?php } ?>
<?php } ?>
<?php if ($type == 'slide' || $type == 'slide_dual') { ?>
<table>
 <tr>
  <td width="40%">
   <input name="ocfilter[<?php echo $option_id; ?>][values][0][selected]" value="1" type="hidden">
   <input name="ocfilter[<?php echo $option_id; ?>][values][0][slide_value_min]" value="" size="10" type="text">
   &nbsp;—&nbsp;
   <input name="ocfilter[<?php echo $option_id; ?>][values][0][slide_value_max]" value="" size="10" type="text">
  </td>
  <td>
   <?php foreach ($languages as $language) { ?>
   <input name="ocfilter[<?php echo $option_id; ?>][values][0][description][<?php echo $language['language_id']; ?>][description]" value="" size="30" type="text">
   <img src="language/<?php echo $language['code']; ?>/<?php echo $language['code']; ?>.png" alt="<?php echo $language['name']; ?>" title="<?php echo $language['name']; ?>">
   <?php } ?>
  </td>
 </tr>
</table>
<?php } ?>