.offer__price {
  margin: 0;

  @include media-tablet-portrait-down {
    margin-bottom: $space*0.5;
  }

  @include media-tablet-landscape-up {
    margin-bottom: $space;
  }
}

.offer__short-info {
  margin-bottom: $space*2;
}

.offer__short-info-term {
  color: $color-font__secondary;
}

.offer__short-info-value {
  font-weight: 600;
}

.offer__short-info-value--instock {
  color: $color__stock;
}

.offer__alert {
  margin-bottom: $space*2;

  @include media-tablet-portrait-down {
    @include full-width;
  }
}

.offer__delivery-info {
  margin-bottom: $space*2;
}

.offer__options {
  margin-bottom: $space*1.5;
}

.offer__buy-form {
  margin-bottom: $space*2;
}

.offer__buy {
  --gap: #{$space};

  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--gap) * -1) 0 0 calc(var(--gap) * -1);

  &-elem {
    margin-top: var(--gap);
    margin-left: var(--gap);
    flex-grow: 1;
  }

  @include media-mobile-only {
    &-elem--quantity {
      flex-basis: 70%;
    }
  }

  @include media-tablet-portrait-only {
    &-elem--quantity {
      flex-basis: 20%;
    }
  }

  @include media-tablet-landscape-up {
    &-elem--quantity {
      flex-basis: 50%;
    }
  }

  @include media-mobile-only {
    &-elem--love {
      flex-basis: 20%;
    }
  }

  &-elem--buy {
    flex-basis: 44%;
    flex-grow: 3;
  }

  @include media-tablet-landscape-up {
    &-elem--buy {
      flex-basis: 100%;
    }
  }
}

.offer__price-notification {
  margin-bottom: $space;
}

.offer__refund {
  margin: 0;
}

.offer__refund-dt {
  float: left;
  margin-right: $space*0.5;
}

.offer__refund-dd {
  font-weight: 700;
}
