@@if (itemsNumber === "12") {
<ul class="category-list @@class">
  @@loop('./category-list/_category-list__item.html', [
  {"name": "Наборы посуды", "index": "1"},
  {"name": "Наборы тарелок", "index": "2"},
  {"name": "Чайники", "index": "3"},
  {"name": "Сковороды", "index": "4"},
  {"name": "Наборы ножей", "index": "5"},
  {"name": "Френч-прессы", "index": "6"},
  {"name": "Грили", "index": "7"},
  {"name": "Казаны", "index": "8"},
  {"name": "Столовые приборы", "index": "9"},
  {"name": "Пиалы", "index": "10"},
  {"name": "Кофеварки", "index": "1"},
  {"name": "Перцемолки", "index": "2"}
  ])
</ul>
}


@@if (itemsNumber === "15") {
<ul class="category-list @@class">
  @@loop('./category-list/_category-list__item.html', [
  {"name": "Наборы посуды", "index": "1"},
  {"name": "Наборы тарелок", "index": "2"},
  {"name": "Чайники", "index": "3"},
  {"name": "Сковороды", "index": "4"},
  {"name": "Наборы ножей", "index": "5"},
  {"name": "Френч-прессы", "index": "6"},
  {"name": "Грили", "index": "7"},
  {"name": "Казаны", "index": "8"},
  {"name": "Столовые приборы", "index": "9"},
  {"name": "Пиалы", "index": "10"},
  {"name": "Кофеварки", "index": "1"},
  {"name": "Перцемолки", "index": "2"},
  {"name": "Казаны", "index": "8"},
  {"name": "Грили", "index": "7"},
  {"name": "Столовые приборы", "index": "9"}
  ])
</ul>
}


@@if (itemsNumber === "9") {
<ul class="category-list @@class">
  @@loop('./category-list/_category-list__item.html', [
  {"name": "Наборы посуды", "index": "1"},
  {"name": "Наборы тарелок", "index": "2"},
  {"name": "Чайники", "index": "3"},
  {"name": "Сковороды", "index": "4"},
  {"name": "Наборы ножей", "index": "5"},
  {"name": "Френч-прессы", "index": "6"},
  {"name": "Грили", "index": "7"},
  {"name": "Казаны", "index": "8"},
  {"name": "Столовые приборы", "index": "9"}
  ])
</ul>
}


@@if (itemsNumber === "6") {
<ul class="category-list @@class">
  @@loop('./category-list/_category-list__item.html', [
  {"name": "Наборы посуды", "index": "1"},
  {"name": "Наборы тарелок", "index": "2"},
  {"name": "Чайники", "index": "3"},
  {"name": "Сковороды", "index": "4"},
  {"name": "Наборы ножей", "index": "5"},
  {"name": "Френч-прессы", "index": "6"},
  ])
</ul>
}
