<form class="search-form header__search-form" id="search" action="" method="post" role="search">
  <label class="search-form__label" for="search-input">
    <span class="visually-hidden">Поиск товаров по каталогу:</span>
  </label>

  <input class="search-form__input" id="search-input" type="text" autocomplete="off" name="search" placeholder="Я ищу ...">

  <button class="search-form__button" type="submit">
    <svg class="search-form__button-icon" width="24" height="24" aria-hidden="true">
      <use href="catalog/view/theme/pm/img/svg/_sprite.svg#icon-search"></use>
    </svg>
    <span class="visually-hidden">Искать</span>
  </button>
</form>
