.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: $space*0.75 $space;
  appearance: button;
  font: inherit;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  overflow: visible;
  word-break: break-word;
  background: 0;
  border: none;
  cursor: pointer;
  outline: none;
  transition-property: color, border-color, box-shadow, opacity, background-color;
  transition-duration: 120ms;
  transition-timing-function: linear;
}

.button--action-primary {
  color: $color-font__button;
  background-color: $color__secondary;
  border-radius: $controls__border-radius;

  &:hover,
  &:focus {
    background-color: $color__secondary-bright;
  }
}


.button--action-secondary {
  color: rgba($color-font__button, 0.8);
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $color__secondary;
  border-radius: $controls__border-radius;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 2px $color__secondary-bright;
  }

  &:active {
    box-shadow: inset 0 0 0 2px darken($color__secondary-bright, 7%);
  }
}

.button--options-primary {
  background-color: $color__primary;
  color: $color-font__button-inverted;
  border-radius: $controls__border-radius;

  &:hover,
  &:focus {
    background-color: $color__primary-dark;
  }

  &:active {
    background-color: darken($color__primary-dark, 5%);
  }
}

.button--options-secondary {
  background-color: transparent;
  color: $color__primary;
  border-radius: $controls__border-radius;
  box-shadow: inset 0 0 0 2px $color__primary;

  &:hover,
  &:focus {
    background-color: $color__additional-1;
  }

  &:active {
    background-color: darken($color__additional-1, 20%);
  }
}


.button--modal-close {
  min-width: $space * 4;
  min-height: $space * 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}


.button__icon {
  box-sizing: content-box;
  width: $space * 1.5;
  height: $space * 1.5;
  flex-shrink: 0;
}


.button__icon--love {
  fill: none;
  stroke-width: 2px;
  stroke: $color__secondary;
  transition: 150ms linear;
}

.button__caption + .button__icon {
  margin-left: $space*0.5;
}


.button__icon + .button__caption {
  margin-left: $space*0.5;
}


.button:hover .button__icon--love,
.button:focus .button__icon--love {
  stroke: $color__secondary-bright;
  fill: $color__secondary-bright;
}


.button__close-icon {
  width: $space * 3;
  height: $space * 3;
  stroke: currentColor;
  stroke-width: 2px;
}


.button--modal-close:active {
  opacity: 0.3;
}


.button.disabled,
.button:disabled {
  color: $color-font__secondary;
  background-color: $color__disabled;
  border: 0;
  box-shadow: none;
  cursor: default;
}
