@import "details";
@import "buy-card";


.page-product {
  @include media-tablet-landscape-up {
    display: grid;
    // в этом варианте (grid-template) есть возможность
    // установить высоту row именованной области
    // этот код:
    // grid-template-rows: repeat(6, auto) 1fr; такой возможности не дает
    grid-template:
      "content-top    content-top"
      "header         offer"
      "gallery        offer" 1fr
      "column-left    column-right" minmax(0%, auto)
      "details        column-right" minmax(0%, auto)
      "details        buy-card"
      "content-bottom content-bottom"
      / minmax(0%, 2fr) minmax(0%, 1fr);

    column-gap: $space*3;
    align-items: start;

    // ! только свойства, относящиеся к grid
    // для новых появляющихся блоков, что бы блок не
    // позиционировался в пустоты
    // & > * {
    //   grid-column: 1/-1;
    // }

    &__content-top {
      grid-area: content-top;
    }

    &__column-left {
      grid-area: column-left;
    }

    &__column-right {
      grid-area: column-right;
    }

    &__content-bottom {
      grid-area: content-bottom;
    }

    &__header {
      grid-area: header;
    }

    &__gallery {
      grid-area: gallery;
    }

    &__offer {
      grid-area: offer;
    }

    &__details {
      grid-area: details;
    }

    &__buy-card {
      grid-area: buy-card;
    }
  }
}

.page-product__breadcrumbs {
  margin-bottom: $space;
}

.page-product__content-top {
  margin-bottom: $space*2;
}

.page-product__column-left {
  margin-bottom: $space*3;
}

.page-product__column-right {
  margin-bottom: $space*3;
}


.page-product__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: $space*0.5;

  @include media-tablet-portrait-down {
    margin-bottom: $space*0.5;
  }

  @include media-tablet-landscape-up {
    margin-bottom: $space;
  }
}


.page-product__title {
  margin: 0 0 $space*1.5;
  width: 100%;
}


.page-product__code-caption {
  color: $color-font__secondary;

  &--short {
    @include media-tablet-portrait-up {
      display: none;
    }
  }

  &--full {
    @include media-mobile-only {
      display: none;
    }
  }
}


.page-product__code {
  font-weight: 600;
}


.page-product__gallery {
  @include media-tablet-portrait-down {
    padding-bottom: $space;
  }

  @include media-tablet-landscape-up {
    padding-bottom: $space*4;
  }
}


.page-product__offer {
  @include media-mobile-only {
    margin-bottom: $space;
  }

  @include media-tablet-portrait-up {
    margin-bottom: $space*3;
  }
}

.page-product__details {
  margin-bottom: $space*4;
  padding-top: $space*2;
  border-top: 1px solid $color__additional-2;
}

.page-product__buy-card {
  @include media-tablet-portrait-down {
    display: none;
  }
}
