.reviews__subheader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: $space*-0.5 0 $space*2 $space*-1;
}

.reviews__stars {
  margin: $space*0.5 0 0 $space;
}

.reviews__write-button {
  margin: $space*0.5 0 0 $space;
}

.reviews__list {
  margin: 0;
  padding: 0 0 $space*2;
  list-style: none;
  border-bottom: 1px solid $color__additional-2;
}

.reviews__item {
  padding-top: $space;
  border-top: 1px solid $color__additional-2;

  &:not(:last-child) {
    margin-bottom: $space*2;
  }

  @include media-tablet-landscape-up {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: $space*2;
    align-items: center;
  }
}

.reviews__one-review {
  @include media-tablet-portrait-down {
    margin: 0 0 $space;
  }

  @include media-tablet-landscape-up {
    margin: 0;
  }
}

.reviews__author {
  display: flex;
  align-items: center;
  margin-bottom: $space;
  font-style: normal;
}

.reviews__user-icon {
  width: 3rem;
  height: 3rem;
  margin-right: $space*0.5;
  padding: 0.25rem;
  fill: none;
  stroke-width: 2px;
  stroke: $color__primary;
  background-color: $color__additional-2;
  border-radius: 50%;
}

.reviews__author-name {
  margin-right: $space;
  font-weight: 700;
}

.reviews__review-date {
  color: $color-font__secondary;
}

.reviews__one-review-stars {
  margin-bottom: $space;
}

.reviews__text {
  &:not(:last-child) {
    margin-bottom: $space;
  }
}

.reviews__vote-button {
  padding: calc(#{$space} - 1px) $space*1.5;
  white-space: nowrap;
  color: $color-font__button;
  background-color: transparent;
  border-radius: $space*2;
  border: 1px solid $color__additional-2;

  &:hover:not(.reviews__vote-button--liked),
  &:focus:not(.reviews__vote-button--liked) {
    background-color: $color__additional-1-1;
  }
}

.reviews__vote-button--liked {
  color: #ffffff;
  background-color: $color__primary;
  border-color: $color__primary;
}

.reviews__vote-button-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.reviews__vote-count {
  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }
}
