.share {
  position: absolute;
  top: $space*0.5;
  z-index: 1;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  fill: $color__additional-4;
  border: 1px solid $color__additional-2;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  cursor: pointer;
  transition-property: color, border-color, box-shadow, opacity, background-color;
  transition-duration: 120ms;
  transition-timing-function: linear;

  @include media-tablet-portrait-down {
    right: 0;
  }

  @include media-tablet-landscape-up {
    right: $space*0.5;
  }

  &:hover {
    fill: $color__primary;
    border: 2px solid $color__primary;
  }

  &:focus {
    outline: 2px dashed $color__primary;
    outline-offset: 2px;
  }
}

.share__icon {
  position: relative;
  left: -2px;
}


/* stylelint-disable */
.ya-share2__container,
.ya-share2__item {
  font: inherit !important;
}

.ya-share2__title {
  color: $color-font__base !important;
}

.ya-share2__item {
  margin: 8px 0 !important;
}
/* stylelint-enable */
