.registration__textfield {
  margin-bottom: $space;
}

.registration__button {
  width: 100%;
}


.registration__already-text {
  margin: $space 0 0;
  padding-top: $space;
  border-top: 1px solid $color__additional-2;
}


.registration__alert {
  margin-bottom: $space;
}
