.city-choose {
  display: flex;
  align-items: center;
}

.city-choose__caption {
  margin-right: $space*0.5;
}

.city-choose__pin-icon {
  position: absolute;
}

.city-choose__current-city {
  padding-left: $space*2;
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
}

.city-choose__button {
  display: flex;
  align-items: center;
}
