.header__user {
  @include media-tablet-portrait-down {
    max-width: 48px;
    flex-grow: 1;
  }
}

.header__user-modal {
  right: -40px;
  width: $space * 20;
  padding-top: $space;
  padding-bottom: $space;
}

.header__user-caption {
  @include media-tablet-landscape-down {
    @include visually-hidden;
  }
}

.header__user-entry-text {
  margin: 0 0 $space;
  padding-bottom: $space;
  border-bottom: 1px solid $color__additional-2;
}

.header__user-login-button {
  width: 100%;
  margin: 0 0 $space*0.5;
}

.header__user-socials-login {
  margin-bottom: $space*0.5;
}

.header__user-call2reg {
  margin-bottom: $space;
}

.header__user-dropdown-menu {
  margin: 0 calc(var(--horizontal-paddings) * -1) $space;
  border-top: 1px solid $color__additional-2;
}

.header__user-logout {
  display: block;
  text-align: center;
}
