.header__link {
  color: $color-font__base-inverted;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-font__title-inverted;
  }

  &:focus {
    outline: 2px dashed $color-font__title-inverted;
  }
}
