.header__cart {
  @include media-mobile-only {
    max-width: 48px;
    flex-grow: 1;
  }

  @include media-tablet-portrait-up {
    margin-left: auto;
  }
}

.header__cart-link {
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-mobile-only {
    padding-right: $space*0.75;
  }

  @include media-tablet-portrait-only {
    padding-right: $space*1.75;
  }
}

.header__cart-icon-container {
  @include media-mobile-only {
    flex-grow: 1;
  }
}

.header__cart-modal {
  right: 0;
  width: $space*35;

  @include media-mobile-only {
    --horizontal-paddings: #{$space};
  }
}


.header__cart .header__link-caption {
  @include media-tablet-landscape-down {
    display: none;
  }
}

.header__cart-footer {
  position: sticky;
  bottom: 0;
  margin: $space calc(var(--horizontal-paddings) * -1) calc(var(--vertical-paddings) * -1);
  padding: $space var(--horizontal-paddings) var(--vertical-paddings);
  background-color: $color__additional-1-1;
  border-bottom-left-radius: $controls__border-radius;
  border-bottom-right-radius: $controls__border-radius;
  box-shadow: 0 1px 4px 0 $color__shadows;
}

.header__cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 0 $space;
  font-weight: 600;
}

.header__cart-summary-number {
  font-size: 2rem;
  letter-spacing: -0.02em;
  color: $color-font__title;
  white-space: nowrap;
}

.header__cart-buttons {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: $space;
  align-items: center;
  justify-items: start;
}

.header__cart-buy-button {
  width: 100%;
}
