.header__burger {
  min-height: $space*3.5;

  @include media-mobile-only {
    padding: 0 $space*0.75;
  }

  @include media-tablet-portrait-down {
    color: #ffffff;
  }

  @include media-tablet-portrait-only {
    padding: 0 $space*1.75;
  }

  @include media-tablet-landscape-up {
    display: none;
  }
}

.header__burger-icon {
  @include media-tablet-landscape-down {
    display: block;
    stroke: currentColor;
  }
}
